<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">A brief history of the game of golf.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/scot-gold.jpg" alt="" height = "250">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1457</h4>
                                    <h4 class="subheading">The First</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The first known mention of golf in history. The Scottish Parliament banned golf because it distracted people from practicing archery!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/club.jpg" alt=""  height = "250">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1744</h4>
                                    <h4 class="subheading">Growing the Game</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The first official golf club, The Honourable Company of Edinburgh Golfers, was formed in Scotland.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/majors.jpg" alt=""  height = "250">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1860</h4>
                                    <h4 class="subheading">Majors</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The first Open Championship (also known as the British Open) was played. It is the oldest golf tournament in the world.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/tiger-thumb.jpg" alt=""  height = "250">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1997</h4>
                                    <h4 class="subheading">GOAT</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Tiger Woods became the youngest golfer (21 years old) to win the Masters Tournament, making history with a record-breaking score.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
