<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We provide several resources to help you enjoy the game you love</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">History</h4>
                    <p class="text-muted">How golf started and how it has changed over time. My site talks about where golf was first played, who played it, and how the game became popular in other countries. You will learn about important moments and people in golf history.

</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Today</h4>
                    <p class="text-muted">You will see how golf is played today. We'll talk about famous players, big tournaments, and how the game is watched around the world. You will also learn how golf has become more popular and how people play it in different places now.

</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tournaments & Majors</h4>
                    <p class="text-muted">You can also learn about the game's most important tournaments and majors, learning about all the trophies player's want to get their hands on.</p>
                </div>
            </div>
        </div>
    </section>
